@import "@material-design-icons/font";

:root {
    --font-size: 16px;
    --font-family: "Roboto", sans-serif;

    --primary-color: #000000;
    --secondary-color: #757575;

    --success-color: #399950;
    --info-color: #2ea4b6;
    --warning-color: #ffc107;
    --danger-color: #dc3545;

    --text-color: #ffd800;
    --bg-color: #6f2f11;

    --bg-color-faded-50: #6f2f11c2;

    --dark-text-color: #c7ab0f;

    --btn-color: #007bff;
    --btn-text-color: #fff;

    --active-color: #007bff;
    --active-text-color: #fff;

    --hover-color: #0056b3;
    --hover-text-color: #fff;

    --border-radius: 1rem;
    --small-gap: 0.25rem;
    --normal-gap: 0.5rem;
    --medium-gap: 1rem;
    --large-gap: 1.5rem;
    --extra-large-gap: 2rem;
    --max-gap: 3rem;

    --Navbar-height: 4rem;
    --Footer-height: 4rem;
    --Content-height: calc(100vh - var(--Navbar-height) - var(--Footer-height));

    --special-font: "cooper-black-std";
    --text-font: "profile-pro";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: var(--normal-gap);
    height: var(--normal-gap);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: var(--small-gap);
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.body-no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: "profile-pro";
    font-size: 1.2rem;
}

/* INTRO */

.Intro {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes scaleBounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.Intro_Image {
    height: 340px;
    width: 340px;
    animation: scaleBounce 2s infinite;
}

/* COOKIES */

.Cookie {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--max-gap);
    background-color: var(--bg-color-faded-50);
    backdrop-filter: blur(5px);
}

.Cookie_Container {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    padding: var(--medium-gap);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    color: var(--bg-color);
    max-width: 360px;
    width: 100%;
}

.Cookie_Title {
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
}

.Cookie_Text {
    font-size: 1rem;
    line-height: 1.2rem;
}

.Cookie_Text > a {
    color: var(--bg-color);
    text-decoration: underline;
    text-underline-offset: 0.275rem;
}

.Cookie_Btn {
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
}

.terms-of-use,
.Privacy_Policy {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    padding-bottom: var(--normal-gap);
}

.terms-of-use > h3,
.Privacy_Policy > h3 {
    margin-top: var(--medium-gap);
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
}

.Error {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.Error_Icon {
    font-size: 12rem;
    color: var(--text-color);
}

.Error_Title,
.Error_SubTitle {
    text-align: center;
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
}

.Error_SubTitle {
    font-size: 3rem;
    line-height: 2.8rem;
}

.Error_Btn {
    margin-top: var(--large-gap);
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
}

/* NAVBAR */

.Navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
    padding: var(--medium-gap);
    height: var(--Navbar-height);
    z-index: 4;
    background-color: var(--bg-color-faded-50);
    backdrop-filter: blur(5px);
    text-align: center;
}

.Navbar_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--medium-gap);
    padding-inline: var(--large-gap);
    width: 100%;
    max-width: 1000px;
}

@keyframes spin360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Logo {
    height: 2.5rem;
    width: auto;
    animation: spin360 45s linear infinite;
}

.Logo_Type {
    font-family: var(--special-font);
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--text-color);
    letter-spacing: 0.25rem;
    margin-bottom: 0.5rem;
}

.Navbar_Links {
    margin-left: auto;
    display: flex;
    gap: var(--medium-gap);
}

.Navbar_Link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--special-font);
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.Navbar_Link:focus-within,
.Navbar_Link:hover {
    font-size: 1.4rem;
    color: white;
}

.Menu_Container {
    margin-left: auto;
    cursor: pointer;
}

.Menu_Icon {
    font-size: 1.6rem;
    color: var(--text-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

.Menu_Icon.Active {
    scale: 1.3;
    color: white;
}

.Menu_Container > * {
    transition: scale 0.3s ease, color 0.3s ease;
}

.Menu_Container:focus-within > .Menu_Icon,
.Menu_Container:hover > .Menu_Icon {
    transform: scale(1.1);
    color: white;
}

.Page_Wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
    padding-inline: var(--medium-gap);
    padding-top: calc(var(--Navbar-height) + 0.25rem);
    padding-bottom: calc(var(--Footer-height) + 0.25rem);
    min-height: 100vh;
    margin-inline: auto;
    width: 100%;
    max-width: 1000px;
}

.UserTab {
    z-index: 5;
    background-color: var(--bg-color-faded-50);
    backdrop-filter: blur(5px);
    top: var(--Navbar-height);
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
    padding-inline: var(--medium-gap);
    padding-block: var(--medium-gap);
    height: var(--Content-height);
    overflow-y: auto;
    margin-inline: auto;
    width: 100%;
    max-width: 1000px;
}

.Checkout_Page_Wrapper {
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    margin-block: var(--Navbar-height);
    padding-block: 0;
    gap: var(--normal-gap);
    min-height: 100vh;
}

.Checkout_Card {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    padding: var(--medium-gap);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

    background-color: var(--text-color);
    color: var(--bg-color);

    width: 100%;
    max-width: 600px;
}

.Checkout_Card_OrderNumber {
    font-family: var(--special-font);
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    text-align: center;
    padding-bottom: var(--normal-gap);
    border-bottom: 1px solid var(--bg-color);
}

.Checkout_Card_OrderNumber_Content {
    text-align: center;
    font-size: 1rem;
}

.User_Order_Product,
.Checkout_Order_Item {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
}

.User_Order_Extra_Info {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
}

.User_Order_Product_Title,
.Checkout_Order_Item_Name {
    font-size: 1.2rem;
    font-family: var(--text-font);
    font-weight: 800;
}

.User_Order_Product_Qtty,
.Checkout_Order_Item_Quantity {
    font-size: 1.2rem;
    min-width: max-content;
    margin-left: auto;
    font-weight: 600;
}

.User_Order_Product_Price,
.Checkout_Order_Item_Price {
    min-width: 5rem;
    display: flex;
    align-items: flex-end;
}

.Checkout_User {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--normal-gap);
}

.Checkout_User_Info {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.Checkout_User_Adress_Detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--small-gap);
}

.Checkout_User_Info p {
    font-size: 0.9rem;
}

.Shipping_Map_Btn {
    padding: var(--small-gap) var(--medium-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 0.8rem;
    margin-inline: auto;
}

.Checkout_Shipping_Options {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
}

.Checkout_Shipping_Option {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
}

.Shipping_Detail_Info_Title {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.Shipping_Detail_Info {
    font-size: 0.9rem;
}

.Checkout_Btn.Disabled,
.Wallet.Disabled,
.Checkout_Shipping_Option.Disabled {
    opacity: 0.5;
    pointer-events: none;
}

.Disabled_Shipping_Message {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
    font-size: 0.9rem;
}

.Disabled_Shipping_Text {
    font-size: 0.9rem;
    gap: 0.25rem;
}

.Disabled_Shipping_Link {
    display: inline;
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    background-color: transparent;
    border: none;
    color: var(--bg-color);
}

.Shipping_Icon {
    font-size: 2.4rem;
}

.Shipping_Selector_Frame {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--small-gap);
    border: 1px solid var(--bg-color);
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 0.25rem;
}

.Shipping_Input_Container {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.Shipping_Input_Block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--normal-gap);
}

.Shipping_Adress_Result {
    margin-top: var(--normal-gap);
}

.Inputs_Wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--normal-gap);
}

.Checkout_Input_Container {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    width: 100%;
}

.Checkout_Input_Label {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.Checkout_Input_Label > label {
    font-size: 0.8rem;
}

.Checkout_Input_Label > span {
    font-size: 0.8rem;
}

.Shipping_Input {
    border: 1px solid var(--bg-color);
    padding: var(--small-gap) 0.5rem;
    border-radius: var(--border-radius);
    flex: 1;
}

.State_Input,
.Number_Input {
    flex: 0.5rem;
}

.Shipping_Calc_Btn {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    height: 2.8rem;
    flex: 3;
    min-width: max-content;
}

.Shipping_Calc_Btn:focus-within,
.Shipping_Calc_Btn:hover {
    scale: 1.025;
    background-color: white;
    color: var(--bg-color);
}

.Card_Subtopic {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.Observation_TextArea {
    width: 100%;
    max-width: 100%;
    min-height: 4rem;
    max-height: 10rem;
    border: 1px solid var(--bg-color);
    padding: var(--small-gap);
    border-radius: 0.25rem;
}

.Total_Value_Card {
    align-items: center;
}

.Checkout_Card_Total {
    text-align: center;
}

#wallet_container {
    margin-bottom: -1rem;
    margin-top: -0.75rem;
    max-width: 24rem;
    width: 100%;
    min-height: 6.4rem;
}

.Checkout_Return_Btn {
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--text-font);
    font-weight: 600;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1.2rem;
    width: 100%;
    max-width: 24rem;
}

.Menu {
    position: fixed;
    top: var(--Navbar-height);
    left: 0;
    width: 100%;
    height: var(--Content-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-faded-50);
    backdrop-filter: blur(5px);
    z-index: 6;
    padding: var(--large-gap);
}

.Menu_Nav {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
    padding: var(--large-gap);
    overflow-y: auto;
}

.Menu_Nav > a {
    font-family: var(--special-font);
    font-size: 1.8rem;
    letter-spacing: 0.25rem;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: var(--normal-gap);
    transition: scale 0.3s ease, color 0.3s ease;
}

.Menu_Nav > a:hover,
.Menu_Nav > a:focus-within {
    color: white;
    scale: 1.1;
    border-bottom: 1px solid white;
}

.Search_Bar {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
    width: 100%;
    max-width: 20rem;
}

.Search_Bar_Button {
    padding: var(--medium-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
}

.Search_Bar_Input {
    padding: var(--medium-gap);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
}

.Expertise_Page_Wrapper {
    gap: var(--small-gap);
    overflow-y: auto;
    padding-bottom: 9rem;
}

.Section_Title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
    border-bottom: 1px solid var(--text-color);
    padding: var(--medium-gap) 0;
    text-align: center;
}

/* CARRINHO */
.Shopping_Cart {
    position: fixed;
    top: var(--Navbar-height);
    left: 0;
    width: 100%;
    height: var(--Content-height);
    background-color: var(--bg-color-faded-50);
    backdrop-filter: blur(5px);
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--medium-gap);
    padding: var(--medium-gap);

    border-radius: var(--medium-gap);
}

.Cart_Title {
    font-family: var(--special-font);
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: var(--text-color);
}

.Cart_Loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--Content-height);
    background-color: var(--bg-color-faded-50);
    backdrop-filter: blur(5px);
    z-index: 6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
}

.Cart_Loader_Text {
    font-family: var(--special-font);
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: var(--bg-color);
    text-align: center;
    background-color: var(--text-color);
    padding: var(--normal-gap) var(--large-gap);
    border-radius: var(--border-radius);
}

.Cart_List_Container {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    height: 100%;
    max-height: 75%;
    width: 100%;
    max-width: calc(1000px - 2 * var(--medium-gap));
}

.Empty_Cart_Message {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Empty_Cart_Message > p {
    max-width: 28rem;
    text-align: center;
}

.Cart_List {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding-block: var(--medium-gap);
    padding-inline: var(--medium-gap);
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.Cart_List_Item {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    width: 100%;
    max-width: 420px;
    margin-inline: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
    padding: var(--normal-gap);
}

.Cart_Item_Image_Container {
    height: 100%;
    min-height: 100px;
    width: 100px;
    flex-shrink: 0;
}

.Cart_Item_Image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--normal-gap);
    border: 1px solid var(--text-color);
}

.Cart_Item_Content {
    display: flex;
    flex-direction: row;
    gap: var(--normal-gap);
}

.Cart_Item_Title {
    font-size: 1.2rem;
    font-family: var(--special-font);
}

.Cart_Item_Details {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
}

.Cart_Item_Price {
    font-size: 1.4rem;
}

.Cart_Item_Actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 3rem;
    gap: var(--normal-gap);
}

.Cart_Item_Actions_Counter {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
}

.Cart_Item_Action_Btn {
    height: 2.4rem;
    width: 128px;

    padding: var(--medium-gap) var(--medium-gap);
    background-color: var(--text-color);
    color: var(--bg-color);

    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
}

.Cart_Item_Action_Btn:focus-within,
.Cart_Item_Action_Btn:hover {
    background-color: white;
    scale: 1.05;
}

.Cart_Item_Action_Circle_Btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cart_Item_Quantity {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-family: var(--text-font);
}

.Cart_List_Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--medium-gap);
    width: 100%;
}

.Cart_Total_Container {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
    font-family: var(--text-font);
    font-size: 1.2rem;
}

.Cart_Total_Label {
    font-weight: 300;
}

.Cart_Payment_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--normal-gap);
    width: 100%;
}

.Checkout_Btn {
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    width: 100%;
    max-width: 24rem;
    height: 3.2rem;
}

.Cart_Checkout_Btn {
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-family: var(--text-font);
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    width: 100%;
    max-width: 22rem;
    height: 2.4rem;
    margin-bottom: var(--normal-gap);
}

.Cart_Checkout_Btn.Disabled {
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 0.5);
}

.Cart_Checkout_Btn:focus-within,
.Cart_Checkout_Btn:hover {
    font-size: 1.2rem;
    background-color: white;
}

.Cart_Checkout_Btn.Disabled:focus-within,
.Cart_Checkout_Btn.Disabled:hover {
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
}

/* INICIO */

.ImageSlider {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.ImageSlide {
    width: 100%;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
}

.Banner_Slide {
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    gap: var(--normal-gap);
}

.Banner_Title {
    z-index: 2;
    font-family: var(--special-font);
    font-size: clamp(2rem, 4vw, 2.8rem);
    font-weight: 800;
    letter-spacing: 0.25rem;
    color: white;
    text-align: center;
    text-shadow: var(--bg-color) 0 0 5px;
    border-bottom: 4px solid var(--text-color);
    padding-bottom: var(--normal-gap);
}

.Banner_SubTitle {
    z-index: 2;
    font-family: var(--text-font);
    font-size: clamp(1.125rem, 3vw, 1.8rem);
    letter-spacing: 0.025rem;
    color: white;
    text-align: center;
    text-shadow: var(--bg-color) 0 0 5px;
}

.Banner_Action_Btn {
    margin-top: var(--normal-gap);
    z-index: 2;
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: scale 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
}

.Banner_Action_Btn:focus-within,
.Banner_Action_Btn:hover {
    scale: 1.05;
    background-color: white;
}

.ImageSlider_Btn {
    position: absolute;
    height: 100%;
    width: 8rem;
    z-index: 2;
    background: linear-gradient(to right, var(--bg-color), transparent);
    cursor: pointer;
    color: white;
    border: none;
}

.ImageSlider_Btn:hover > .ImageSlider_Arrow {
    font-size: 2rem;
    color: white;
}

.ImageSlider_Btn > * {
    color: var(--text-color);
}

.ImageSlider_Arrow {
    color: var(--text-color);
    transition: font-size 0.3s ease, color 0.3s ease;
}

.ImageSlider_Arrow:focus-within,
.ImageSlider_Arrow:hover {
    font-size: 2rem;
    color: white;
}

.ImageSlider_Previous_Btn {
    top: 0;
    left: 0;
}

.ImageSlider_Next_Btn {
    top: 0;
    right: 0;
    background: linear-gradient(to left, var(--bg-color), transparent);
}

.ImageSlider_StopAnimation_Btn {
    z-index: 3;
    bottom: 0;
    right: 0;
    height: 8rem;
    width: 8rem;
    background: none;
}

.Banner_Slide > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: contrast(0.5) saturate(1.6);
    opacity: 0.5;
    z-index: 1;
}

.Banner_Top_Fader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
    background: linear-gradient(to bottom, var(--bg-color), transparent);
    z-index: 2;
}

.ImageSlider_Indicators {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8rem;
    background: linear-gradient(to top, var(--bg-color), transparent);
    gap: var(--small-gap);
}

.ImageSlider_Indicator {
    height: 10px;
    width: 10px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    transition: background-color 0.6s ease, height 0.6s ease, width 0.6s ease;
}

.ImageSlider_Indicator.active {
    height: 15px;
    width: 15px;
    background-color: var(--dark-text-color);
}

/* SOBRE */

#quem-somos {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
}

.About_Container {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    max-width: 1000px;
}

.About_Container_Special {
    background-color: var(--text-color);
    border-radius: var(--border-radius);
    padding: var(--medium-gap);
    gap: 0;
}

.About_Container_Header {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    transition: scale 0.3s ease-in-out;
}

.About_Container_Image {
    border-radius: var(--border-radius);
    filter: sepia(0.5) saturate(1.5);
}

.About_Container_Header:hover,
.About_Container_Header:focus-within {
    scale: 1.05;
}

.About_Expand_Btn {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease;
    color: var(--bg-color);
    margin-block: var(--normal-gap);
}

.About_Expand_Btn.Active {
    transform: rotate(180deg);
}

.About_Container_UpTitle {
    margin-top: var(--medium-gap);
    font-size: 0.8rem;

    font-weight: bold;
    color: var(--bg-color);
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
    text-align: center;
    text-transform: uppercase;

    letter-spacing: 8px;
}

.About_Container_Title {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--bg-color);
    font-family: var(--special-font);

    border-bottom: 1px solid var(--bg-color);
    padding-block: var(--small-gap) var(--medium-gap);
    text-align: center;
}

.About_Container_Text {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    color: var(--bg-color);
}

.Team_Container {
    display: flex;
    gap: var(--max-gap);
    flex-wrap: wrap;
}

.Team_Member {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: var(--medium-gap);
}

.Team_Member_Header {
    display: flex;
    gap: var(--normal-gap);
    flex-wrap: wrap;
}

.Team_Member_Header > img {
    display: flex;
    flex: 1;
    object-fit: cover;
    width: 200px;
    height: 300px;
    border-radius: var(--normal-gap);
    border: 3px solid var(--text-color);
}

.Team_Member_Name {
    padding-bottom: var(--normal-gap);
    border-bottom: 1px solid var(--text-color);
    font-size: 1.7rem;
}

.Team_Member_Info {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    flex: 1;
}
.Team_Member_OAB_Link {
    display: flex;
    gap: var(--normal-gap);
    align-items: center;
    justify-content: center;
    padding: var(--small-gap) var(--small-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.Team_Member_OAB_Link:focus-within,
.Team_Member_OAB_Link:hover {
    font-size: 1.2rem;
    background-color: white;
}

.Team_Member_Action {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
    font-size: 0.85rem;
}

.Team_Member_Description {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
}

.Team_Member_AcademicBackground > h3,
.Team_Member_AcademicProduction > h3,
.Team_Member_ComplementaryEducation > h3,
.Team_Member_ProfessionalExperience > h3 {
    margin-bottom: 0.5rem;
}

/* ATUAÇÃO  */

.Services_Container {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    margin-inline: auto;
    max-width: 1000px;
}

.Card_Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--medium-gap);
}

.Expertise_Card {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    padding: var(--medium-gap);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

    background-color: var(--text-color);
    color: var(--bg-color);
}

.Expertise_Card:hover,
.Expertise_Card:focus-within {
    background-color: white;
    color: var(--bg-color);
    transform: scale(1.025);
    filter: saturate(1.5);
}

.Expertise_Card img {
    height: 248px;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color);
    margin-bottom: var(--normal-gap);
}

.Card_Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--normal-gap);
    padding-bottom: var(--normal-gap);
    margin-bottom: var(--small-gap);
    border-bottom: 1px solid var(--bg-color);
}

.Card_Header_Info {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.Card_Weight {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: var(--small-gap) var(--medium-gap);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    min-width: max-content;
}

.Card_Title {
    font-size: 1.2rem;
    font-family: var(--special-font);
}

.Card_Footer {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    width: 100%;
    margin-top: auto;
}

.Card_Link {
    text-decoration: none;
    color: #000000;
}

.Card_Btn {
    padding: var(--medium-gap) var(--small-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: scale 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    margin-top: 0.5rem;
    font-size: 1rem;
}

.Card_Btn_More_Info {
    margin-top: 0;
}

.Card_Btn:focus-within,
.Card_Btn:hover {
    scale: 1.025;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.Product_Page_Image_Container {
    display: flex;
    gap: var(--normal-gap);
    width: 100%;
    min-height: 300px;
    height: 300px;
    overflow-x: auto;
    padding-block: var(--normal-gap);
    margin-bottom: 0.5rem;
}

.Product_Page_Image {
    height: 100%;
    width: 100%;
    border-radius: var(--medium-gap);
    object-fit: cover;
}

.Expertise_Page_Title {
    text-align: center;
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
    border: 2px solid var(--text-color);
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--medium-gap);
    font-size: 1.6rem;
}

.Product_Page_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--small-gap);
}

.Product_Page_Header_Info {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: var(--small-gap) var(--medium-gap);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    min-width: max-content;
    width: 100%;
}

.Product_Page_Description {
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: var(--medium-gap);
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
}

.Expertise_Page_Footer {
    position: fixed;
    bottom: var(--Footer-height);
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    margin-top: var(--normal-gap);
    padding: var(--medium-gap);
    background-image: linear-gradient(to top, var(--bg-color-faded-50), transparent);
}

.Product_Page_Ingredients_Title {
    font-family: var(--special-font);
    letter-spacing: 0.15rem;
    margin-bottom: var(--normal-gap);
}

.Ingredient_List {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding-inline: var(--normal-gap);
    font-family: var(--text-font);
    flex-grow: 1;
}

.Ingredient_List::-webkit-scrollbar {
    width: 4px;
    padding: var(--medium-gap);
}

.Ingredient {
    padding: var(--medium-gap);
    border-bottom: 1px solid var(--text-color);
    transition: background-color 0.15s ease;
}

.Ingredient > h4 {
    font-size: 1.2rem;
}

.Ingredient > p {
    font-size: 0.9rem;
}

.Ingredient_List > .Ingredient:last-child {
    border-bottom: none;
}

.Expertise_SubItem:focus-within,
.Expertise_SubItem:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.SubItem_Title {
    margin-bottom: var(--small-gap);
}

.Schedule_Btn {
    padding: var(--medium-gap) var(--medium-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    margin-top: auto;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    max-width: 30rem;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
}

.Schedule_Btn:focus-within,
.Schedule_Btn:hover {
    background-color: white;
    font-size: 1rem;
}

/* PRODUTOS */

.GroupSlider {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
}

.GroupSlider_Header_Wrapper {
    display: flex;
    justify-content: center;
}

.GroupSlider_Header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--large-gap);
    padding-inline: var(--medium-gap);
    padding-bottom: var(--normal-gap);
    height: 3.2rem;

    overflow-y: auto;
}

.GroupSlider_Header::-webkit-scrollbar {
    height: 0.125rem;
}

.GroupSlider_Class {
    font-family: var(--special-font);
    letter-spacing: 0.15rem;
    cursor: pointer;
    padding-bottom: 0.125rem;
    transition: scale 0.3s ease, border-bottom 0.3s ease;
    transform-origin: start;
}

.GroupSlider_Class:focus-within,
.GroupSlider_Class:hover {
    scale: 1.1;
    color: white;
}

.GroupSlider_Class.Active_Class {
    border-bottom: 1px solid white;
    color: white;
    scale: 1.15;
}

.GroupSlider_Filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    min-height: 2.4rem;
}

.Filter_Types {
    display: flex;
    gap: var(--medium-gap);
    overflow-x: auto;
    overflow-y: hidden;

    align-items: center;
    padding-inline: 1.5rem;
    padding-block: var(--normal-gap);
    padding-bottom: 1rem;
}

.Filter_Types::-webkit-scrollbar {
    height: 0.125rem;
}

.Filter_Type {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: scale 0.3s ease, color 0.3s ease;

    font-family: "profile-pro";
    font-size: 1.2rem;
    font-weight: 600;
    min-width: max-content;
    transform-origin: start;

    background-color: var(--text-color);
    color: var(--bg-color);
    padding: var(--small-gap) var(--medium-gap);
    border-radius: var(--border-radius);
}

.Filter_Type:focus-within,
.Filter_Type:hover {
    scale: 1.05;
}

.Filter_Type.Active_Type {
    background-color: white;
    scale: 1.1;
}

.Filter_Price_Range {
    display: flex;
    flex-wrap: wrap;
    gap: var(--normal-gap);
}

.Filter_Price_Btn {
    padding: var(--small-gap) var(--medium-gap);
    padding-left: 0.75rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
}

.Filter_Price_Btn > p {
    font-size: 0.8rem;
}

.Filter_Price_Btn > span {
    font-size: 1rem;
}

.Filter_Price_Btn:focus-within,
.Filter_Price_Btn:hover {
    font-size: 1rem;
    background-color: white;
}

/* ASSINATURA - CLUBE TROPICAL */

.Club_Section {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    margin-inline: auto;
    max-width: 1000px;
    text-align: center;
}

.Subcription_Btn {
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    width: 100%;
    max-width: 16rem;
    height: 3.2rem;
    margin-inline: auto;
    margin-top: var(--normal-gap);
    font-weight: 600;
}

/* CONTATO */

#contact {
    margin-bottom: 0;
}

.Contact_Container {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    margin-inline: auto;
    max-width: 1000px;
}

.Contact_Content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--medium-gap);
}

.Contact_Card {
    width: 100%;
    max-width: 450px;

    margin-inline: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--medium-gap);
    padding: 3rem var(--medium-gap);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

    background-color: var(--text-color);
    color: var(--bg-color);

    text-align: center;
}

.Contact_CallToAction {
    font-size: 1.4rem;
}

.Contact_Layout_Container {
    display: flex;
    gap: var(--medium-gap);
    flex-wrap: wrap;
    justify-content: center;
}

.Contact_Layout_Item_Title {
    margin-bottom: var(--small-gap);
}

.Adress_Item {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--normal-gap);
    text-align: center;
}

.Adress_Title {
    margin-top: 0.5rem;
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
    font-size: 2rem;
    padding-bottom: var(--medium-gap);
    margin-bottom: var(--medium-gap);
    border-bottom: 1px solid var(--text-color);
    text-align: center;
}

.Map {
    height: 500px;
    width: 100%;
    max-width: 450px;
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem;
    background-color: var(--text-color);
    margin-inline: auto;
}

#mapDiv {
    border-radius: var(--normal-gap);
}

/* FOOTER */
.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--Footer-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--medium-gap);
    background-color: var(--bg-color-faded-50);
    backdrop-filter: blur(5px);
    z-index: 5;
}

.Footer_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding-inline: var(--large-gap);
}

.Footer_Actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--medium-gap);
}

.Footer_Btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer_Btn > * {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer_Btn.active > a > .Footer_Icon {
    color: white;
    font-size: 2rem;
}

.Footer_Badge {
    background-color: #dc3545;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: var(--text-font);
}

.Lang_Btn {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
    padding-block: var(--small-gap);
}

.Lang_Btn > p {
    font-size: 1rem;
    transition: scale 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.Footer_Cart_Btn {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.Footer_Cart_Btn.Active > .Footer_Icon {
    color: white;
    font-size: 2rem;
}

.Footer_Icon {
    color: var(--text-color);
    transition: font-size 0.3s ease, color 0.3s ease, scale 0.3s ease;
}

.Footer_Icon.Active {
    color: white;
    font-size: 2rem;
}

.Footer_Icon:focus-within,
.Footer_Icon:hover {
    font-size: 1.8rem;
    color: white;
}

.Lang_Btn:hover > p,
.Lang_Btn:focus-within > p {
    color: white;
    scale: 1.1;
    padding-left: var(--normal-gap);
}

.Lang_Btn:hover > .Footer_Icon,
.Lang_Btn:focus-within > .Footer_Icon {
    color: white;
    scale: 1.1;
}

/* USUÁRIO  */

.User_Page_Title {
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
    font-size: 2rem;
    padding-bottom: var(--medium-gap);
    border-bottom: 1px solid var(--text-color);
    text-align: center;
}

.User_Login_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
    margin-block: auto;
}

.User_Email_Login {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 24rem;

    background-color: var(--text-color);
    padding: var(--normal-gap);
    border-radius: var(--border-radius);
}

.User_Login_Input {
    padding: var(--medium-gap) var(--large-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    width: 100%;
    max-width: 24rem;
}

.User_Login_Btn {
    padding: var(--medium-gap) var(--medium-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    width: 100%;
    max-width: 24rem;
}

.User_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--medium-gap);
    margin-inline: auto;
    max-width: 1000px;
}

.User_Image {
    border-radius: var(--border-radius);
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.User_No_Image {
    font-size: 8rem;
}

.User_Main_Info {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.User_Adress_Info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--normal-gap);
}

.User_Order_Info {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.User_Order_Product {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--normal-gap);
    padding: var(--small-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
}

.User_Order_Shipping_Option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--normal-gap);
    padding: var(--small-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    width: 100%;
}

.User_Order_Shipping_Option_Title {
    font-size: 1rem;
    font-family: var(--text-font);
    display: flex;
    min-width: max-content;
}

.User_Order_Shipping_Option_Type {
    font-size: 1rem;
    font-family: var(--text-font);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: var(--small-gap) var(--medium-gap);
    width: 100%;
}

.User_Order_Item,
.User_Info_Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--normal-gap);
    min-width: 10rem;
    background: var(--text-color);
    color: var(--bg-color);
    padding: var(--normal-gap) var(--medium-gap);
    border-radius: var(--border-radius);
    flex-grow: 1;
}

.User_Order_Item {
    flex-direction: column;
    gap: 0;
}

.User_Order_Number {
    font-size: 1rem;
    font-family: var(--text-font);
}

.User_Order_Price {
    display: flex;
    gap: var(--small-gap);
    margin-block: var(--normal-gap);
}

.User_Order_Status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: var(--normal-gap) var(--medium-gap);
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-family: var(--text-font);
}

.Order_Expand_Btn {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.Order_Expand_Btn.Active {
    transform: rotate(180deg);
}

.Info_Item_Text {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    width: 100%;
}

.User_Info_Label {
    font-family: var(--special-font);
    letter-spacing: 0.15rem;
    font-size: 1rem;
}

.User_Info_Detail {
    font-size: 0.9rem;
    font-family: var(--text-font);
}

.User_Info_Input {
    padding: var(--normal-gap) var(--medium-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    width: 100%;
    max-width: 24rem;
}

.User_Btn {
    padding: var(--medium-gap) var(--medium-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    width: 100%;
    max-width: 24rem;
}

.User_Info_Edit_Control {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
}

.User_Google_Login_Btn {
    padding: var(--medium-gap) var(--medium-gap);
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    width: 100%;
    max-width: 24rem;
}

.Order_Item_Text {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    width: 100%;
}

.Order_SeeMore_Btn {
    padding: var(--small-gap) var(--medium-gap);
    background-color: rgb(202, 202, 202);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-gap);
    font-size: 1rem;
    width: 100%;
    max-width: 24rem;
}

/* PAINEL DE CONTROLE */

.CP_Orders_List {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    margin-block: var(--medium-gap);
}

.CP_Orders_Title {
    font-family: var(--special-font);
    letter-spacing: 0.25rem;
    margin-block: var(--medium-gap);
}

.CP_Order_Status_Control {
    justify-content: space-between;
}

.CP_Order_Status_Selector {
    background-color: var(--text-color);
    padding: var(--small-gap) var(--medium-gap);
    border-radius: var(--border-radius);
    font-family: var(--text-font);
    font-size: 1rem;
    color: var(--bg-color);
    border: none;
}

.CP_Order_Status_Btn {
    background-color: transparent;
    color: var(--text-color);
    border: none;
}

/* MEDIA QUERIES */

@media (max-width: 850px) {
    .Desktop_Only {
        display: none;
    }

    .Navbar_Content {
        padding-inline: 0;
    }

    .Logo_Type {
        font-size: 1.6rem;
    }

    .Menu_Container {
        margin: 0;
    }

    .Cart_List_Container {
    }

    .ImageSlide img {
        height: 60vh;
    }

    .ImageSlider_Btn {
        width: 2rem;
    }

    .ImageSlider_StopAnimation_Btn {
        height: 2rem;
        width: 2rem;
    }

    .ImageSlider_Indicators {
        height: 2rem;
    }

    .Banner_Slide {
        padding: 4rem 2rem;
        height: 60vh;
    }

    .Team_Member {
        flex-direction: column;
    }

    .Expertise_Page_Footer {
        flex-direction: row;
    }

    .Schedule_Btn {
        padding-inline: var(--medium-gap);
        padding-block: var(--normal-gap);
        height: 3.2rem;
        font-size: 0.8rem;
    }

    .Footer_Actions {
        flex-direction: row-reverse;
    }
}

@media (min-width: 850px) {
    .Mobile_Only {
        display: none;
    }

    .Menu {
        display: none;
    }

    .Footer_Content {
        justify-content: space-between;
    }

    .Footer_Actions {
        width: auto;
        justify-content: flex-end;
    }

    .Product_Page_Image_Container {
        height: 400px;
    }
}
